/* .signup-content {
  background-color: #f5f6f7;
}

#signupContent .signup-header {
  width: 25%;
  float: left;
  background-color: #00aeef;
  padding: 50px 20px;
  text-align: center;
  height: 500px;
}

#signupContent .signup-header img {
  width: 100%;
}

#signupContent .signup-body {
  float: right;
  width: 75%;
  padding: 120px 20px;
}

#signupContent .form {
  width: 75%;
} */
